
a[href="https://www.facebook.com/Campus-Eats-104050231263329/?view_public_for=104050231263329"]::before{
    content: '\f082' ;
}

a[href="https://twitter.com/Awesome97185543"]::before{
    content: '\f099' ;
}

a[href="https://youtube.com"]::before{
    content: '\f167' ;
}

a[href="https://instagram.com"]::before{
    content: '\f16d' ;
}

a[href="https://pinterest.com"]::before{
    content: '\f0d3' ;
}