
a[href="https://facebook.com"]::before{
    content: '\f082' ;
}

a[href="https://twitter.com"]::before{
    content: '\f099' ;
}

a[href="https://youtube.com"]::before{
    content: '\f0e1' ;
}

a[href="https://instagram.com"]::before{
    content: '\f16d' ;
}

a[href="https://pinterest.com"]::before{
    content: '\f0d3' ;
}

